.form{
  display: flex;
  flex-direction: column;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.input-primary {
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}
.error {
  color: red;
  font-size: 12px;
}
h1,
h2 {
  margin-top: 20px;
}